* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.project-tile {
  background-color: green;
}
#ok {
  background-color: blue;
}
@media (min-width: 600px) and (max-width: 900px) {
  #ok {
    background-color: red;
  }
}
#welcome-section {
  border: 1px solid #000;
  overflow-y: auto;
  height: 100vh;
}
#navbar {
  position: fixed;
  top: 0px;
}
